@import url('https://fonts.googleapis.com/css2?family=Meow+Script&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Unbounded', cursive;
}
body{
    background-color: rgb(103, 148, 151);
    color : #ffffff;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
    
}
h1{
    font-size: 2.5rem;
    
    font-weight: 50;
    text-align: center;

}
.password-display{
    display: flex;
    gap: 10px;
    align-items: center;
    border: 1px solid #ffffff;
    padding: 26px 20px;
    width: 30%;
    border-radius: 10px;
    height: 8% ;
    justify-content: space-between;
    
}
input{
    width: 100%;
    font-size: 14px;
    background-color: #ddd4d4;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: #242323;
    outline: none;

}
button{
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    background-color: rgb(59, 90, 92);
    color: #ffffff;
    cursor: pointer;

}
img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(36, 58, 60);
    transform: scale(1.2, 1.2);
    transition: all;
}