*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    min-height: 100vh;
    background-color: rgb(157, 188, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.to-do{
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);

}

h1{
    text-align: center;
    margin-bottom: 20px;
    color: rgb(10, 25, 37);
    font-size: 38px;
}

.search{
    display: flex;
    gap: 10px;
}

input{
    flex: 1;
    height: 40px;
    border: 1px solid rgb(42, 44, 46);
    border-radius: 10px;
    padding: 0 10px;
    font-size: 14px;
}

input:focus{
    outline: none;
    border-color: rgb(10, 25, 37);
}

button{
    height: 40px;
    padding: 0 20px;
    border: none;
    border-radius: 10px;
    background-color: rgb(215, 223, 231);
    cursor: pointer;
    font-size: 14px;
}

button:hover{
    background-color: rgb(190, 205, 220);
}

.task{
    
    padding: 10px;
    background: #f1f5f9;
    border-radius: 8px;    
}
ul li{
    margin-top: 15px;
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 2px 50px;
    cursor: pointer;
    user-select: none;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-image: url(images/unchecked.png);
    top: 11px;
    left: 8px;
}
ul li.complete{
    text-decoration: line-through;
    color: gray;
}
ul li.complete::before{
    background-image: url(images/check.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

ul li span:hover{
    background-color: #e1e9eb;
}
p{
    text-align: center;
    margin-top: 20px;
    color: rgb(66, 66, 66);
}