*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #222;
}
.card{

    width: 90%;
    max-width: 470px;
    margin: 100px auto 0;
    padding: 40px 35px;
    background: linear-gradient(135deg, #cec8d1, #548a87);
    border-radius: 20px;
    text-align: center;
    color: #fff;
}
.search-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
input{
    width: 85%;
    padding: 13px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    background-color: #ebfffc;
}
button{
    background-color: transparent;
    border: none;
    outline: none;
}
.search-img{
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    outline: none;
}
.search-img:hover{
    box-shadow: 0 0 10px #d4f3f2;
    transform: scale(1.2);
    transition: all 0.1s ease-in-out;
}
.weather-img{
    width: 200px;
    height: 200px;
    margin: 30px 0;
}
.weather{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.weather .temp{
    font-size: 64px;
    font-weight: 600;
}
.weather h2{
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 10px;
}
.details{
    display: flex;
    justify-content: space-between;
    flex-direction: row;   
    gap: 13rem;
    margin-top: 50px;
}
.icon{
    width: 50px;
    height: 50px;
    margin-bottom: 7px;
}
